/**
 * @file
 * General stylesheet for the diff module.
 */
.diff-button {
  margin-bottom: 20px;
}
#diffadminplugins .messages {
  margin-bottom: 0.5em;
}
.diff-filter {
  display: inline-block;
}
.navigation-link {
  text-align: center;
  width: 50%;
  display: inline-block;
}
.diff-layout {
  display: inline-table;
  padding: 0 1em 0 0;
}
.comparison-flex-container {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.comparison-flex-item-date {
  flex-basis: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em 0 0;
}
.comparison-flex-item-author {
  flex-basis: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em 0 0;
}
.comparison-flex-item-message {
  flex-basis: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 780px) {
  .comparison-flex-item-message {
    flex-basis: 30%;
  }
  .comparison-flex-item-date {
    flex-basis: 30%;
  }
  .comparison-flex-item-author {
    flex-basis: 25%;
  }
}
