/**
 * @file
 * Stylesheet for the diff table.
 */
td.diff-section-title,
div.diff-section-title {
  font-size: 0.83em;
  font-weight: bold;
  padding: 0.1em 1em;
}
td.diff-prevlink {
  text-align: left;
}
td.diff-nextlink {
  text-align: right;
}
td.diff-deletedline {
  width: 50%;
}
td.diff-addedline {
  width: 50%;
}
td.field-name,
td.rev-navigation {
  text-align: center;
  vertical-align: middle;
}
td.diff-context {
  width: 50%;
}
